{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<div id="fos_comment_thread_{{ id }}" data-comment-thread-container="{{ id }}"></div>

{{ include('@FOSComment/_load_script.html.twig', {id: id}) }}
