<div class="ajax-content">
    {#{% block page_header %}{% endblock %}#}
    {% block content %}{% endblock %}
    {% block javascripts %}{% endblock %}
    {% block ajax_javascripts %}{% endblock %}
</div>