{% embed 'loyalty/modal.html.twig' with {id: 'modal-status-form', size: 'md'} %}
    {% block header %}{{ 'Cambio de Estatus' }}{% endblock %}

    {% block body %}
        <div class="form-errors"></div>
        <div class="status-form-content">

        </div>
    {% endblock %}
{% endembed %}